<%- include("partials/header") -%>

<form action="/">
    <button type="submit" class="btn btn-outline-secondary" onclick="">Back to Home</button>
</form>
<h1><%= title %></h1>
<p><%= content %></p>
<script>

</script>

<%- include("partials/footer") -%>
